package component

templ Form() {
	<div class="w-90 bg-slate-300 shadow rounded-md flex justify-center">
		CRUD
		@Input(InputParameters{Typ: "text", Placeholder: "input 1", Size: 20})
		@Input(InputParameters{Typ: "text", Placeholder: "input 2", Size: 20})
		@Input(InputParameters{Typ: "text", Placeholder: "input 3", Size: 20})
	</div>
}
