package layout

templ Base() {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>temple test</title>
			<link rel="stylesheet" href="static/public/css/style.css"/>
		</head>
		<body>
			<div>
				<h1 class="underline decoration-sky-500">layout updated</h1>
				{ children... }
			</div>
		</body>
	</html>
}
